/*
Colores a usar para poder hacer uso de colores degradados usar las siguientes lineas:

Linea para hacer un color transparente
background-color: rgba(0, 0, 0, 0.29);

Color de fondo principal
background-image: linear-gradient(lightblue, darkblue);

color de fondo de main
background: linear-gradient(360deg, #ddf6b8 30%,#1d7d8e 70%);

*/
body {
    background: linear-gradient(lightblue, darkblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    border-radius: 10px;
    height: 95px;
    border:none;
    width: 260px;
    text-align: center;
}

input {
    border-radius: 40px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    width: 256px;
    height: 30px;
}

select {
    border-radius: 40px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 60px;
    border:none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 260px;
}

input, textarea, select { font-size: 15px;}
h1, h2 {font-size: 32px;}

.texto, label, .texto-2{
    color: white;
}

label {
    font-size: 20px;
}

h2, .container5 {
    text-align: center;
}

h1::first-letter {
    color: #800C0E;
}

h2::first-letter {
    color:orangered;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.container {
    display: grid;
    grid-template-columns: 400px 1000px;
    column-gap: 0%;
    background: linear-gradient(360deg, #ddf6b8 30%,#1d7d8e 70%);
    border-radius: 3% 3%/ 3% 3%;
}

.container-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-left a{
    background-color: #29A63C;
    border-radius: 40px;
    padding: 12px;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.imagen {
    width: 400px;
    height: 300px;
}

.container-right {
    background-color: rgba(0, 0, 0, 0.29);
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 3.5%;
    border-top-right-radius: 3.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 110px;
    padding-right: 110px;
}

.container-right a{
    background-color: #007BFF;
    border-radius: 40px;
    padding: 12px;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}


.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}

.container1, .container2, .container3, .container4, .container5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container5 {
    margin-left: 45%;
    margin-top: 30px;
    margin-bottom:8%;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}